* {
  margin: 0;
  padding: 0;
}
.style {
  display: flex;
  background-color: white;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  height: 80vh;
  color: black;
}
.style-1 {
  display: flex;
  width: 30%;
  height: 50vh;
  background-color: bisque;
  justify-content: center;
  align-items: center;
}
.style-2 {
  display: flex;
  width: 30%;
  height: 50vh;
  background-color: brown;
  color: white;
  align-items: center;
  justify-content: center;
}
.style-3 {
  display: flex;
  width: 30%;
  height: 50vh;
  background-color: pink;
}
